@using CafeDevCode.Logic.Shared.Configs
@using CafeDevCode.Logic.Shared.Models
@using Microsoft.Extensions.Options
@model PostDetailModel
@inject IOptions<SiteConfig> siteConfig

@section Header {
    @{
        var headerModel = new HeaderMetaViewModel();
        var url = $"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html";
        headerModel.SetData(Model.Title, Model.Keywords, Model.Description, Model.Image, url);
    @await Html.PartialAsync("~/Views/Partial/HeaderMeta.cshtml", headerModel);
    }
}


<div class="heading-page header-text p-0 pt-3">
    
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="@($"{siteConfig.Value.HttpsUrl}{Model.Image}")" alt="">
                                </div>
                                <div class="down-content">
                                    <a href="@($"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html")"><h4>@Model.Title</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">@Model.Author?.ShortName</a></li>
                                        <li><a href="#">@Model.PostDate?.ToString("yyyy, MMM, dd")</a></li>
                                        <li><a href="#">@Model.TotalComment Bình luận</a></li>
                                    </ul>
                                    @Html.Raw(Model.Content)
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    @foreach(var tag in Model.Tags) 
                                                    {
                                                        if(tag != Model.Tags.Last()) {
                                                            <li><a href="@($"{siteConfig.Value?.HttpsUrl}tag/{tag.UrlMeta}-{tag.Id}.html")">@tag.Title</a>,</li>
                                                        }
                                                        else {
                                                            <li><a href="@($"{siteConfig.Value?.HttpsUrl}tag/{tag.UrlMeta}-{tag.Id}.html")">@tag.Title</a></li>
                                                        }
                                                    }
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    @{
                                                        var postUrl = $"{siteConfig.Value.HttpsUrl}{Model.UrlMeta}-{Model.Id}.html";
                                                        var facebookShare = "http://www.facebook.com/sharer/sharer.php?u=" + postUrl;
                                                        var twitterShare = "http://twitter.com/share?url=" + postUrl;
                                                            <li><a href="@facebookShare">Facebook</a>,</li>
                                                            <li><a href="@twitterShare"> Twitter</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>@Model.TotalComment bình luận</h2>
                                </div>
                                <div class="content">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading mb-3">
                                    <h2>Bình luận</h2>
                                    
                                </div>
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" id="name" placeholder="Your name" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" placeholder="Your email" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @await Html.PartialAsync("~/Views/Partial/PortalMenuLeft.cshtml")
            </div>
        </div>
    </div>
</section>